@import "definitions.scss";

//////////////////////////////
// Menu mobile
body{
    .sidebar{
        position: relative;
        z-index: 99;
        #sidebar-wrapper {
            position: fixed;
            top: 0;
            right: 0;
            min-height: 100vh;
            margin-right: 0;
            width: auto;
            z-index: 2;
            background-color: white;
            @include transition-25;
            // heading
            .sidebar-heading {
                padding: 0.875rem 1.25rem;
                font-size: 1.2rem;
            }
            // list
            .list-group {
                width: 15rem;
            }

            @include md{
                margin-right: 0;
            }
        }
    }
    &.toggled #sidebar-wrapper {
        margin-right: -15rem;
        @include md{
            margin-right: -15rem;
        }
    }
    
    
    // overlay
    .menu-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black-color-70p;
        @include opacity-0;
        visibility: hidden;
        @include transition-05;
    }
    &:not(.toggled) .menu-overlay{
        @include opacity-100;
        visibility: visible;
    }
}



//////////////////////////////
// header
.navbar-container{
    position: fixed;
    top: 0;
    min-height: 110px;
    width: 100%;
    z-index: 10;
    background-color: white;
    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    -o-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);

    .navbar{
        padding: 20px;
        /*logo*/
        .header-logo{
            max-width: 70px;
        }
        /*toggle mobile*/
        .menu-toggle .fas{
            font-size: $icon-font-size;
        }
        /*web*/
        .nav-link{
            padding: 0.5rem 1rem;
        }
    }
}



//////////////////////////////
// slider
.swiper-slide{
    padding: 40px 60px;
}

//////////////////////////////
// buttons
.btn-oval{
    padding: 8px 25px;
    @include corner-oval;
}

//////////////////////////////
// cards
.card-boxed{
    max-width: 300px;
}

//////////////////////////////
// checklist
[class*="check-list"]{
    li{
        position: relative;
        padding-left: 40px;
        margin-bottom: 15px;
        &:before{
            content: "\f058";
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            @include icon-aw-font;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
}


// colors
//////////////////////////////
$name-color: (
    primary: $primary-color,
    secondary: $secondary-color,
    secondary-accent:$secondary-accent-color,
    berry: $berry-color,
    concord: $concord-color,
    orange: $orange-color,
);
    
@each $name, $value in $name-color {
    //////////////////////////////
    // divider
    .split-#{$name}{
        width: 150px;
        height: 3px;
        margin-left: auto;
        margin-right: auto;
        background-color: $value;
        @include corner-oval;
    }

    .check-list-#{$name}{
        li{
            &:before{
                color: $value;
            }
        }
    }
}