@import "definitions.scss";

//////////////////////////////
// Menu mobile
body{
	.sidebar{
		position: relative;
		z-index: 99;
	
		#sidebar-wrapper {
			position: fixed;
			top: 0;
			right: 0;
			min-height: 100vh;
			margin-right: 0;
			width: auto;
			z-index: 2;
			background-color: white;
			@include transition-25;

			// heading
			.sidebar-heading {
				padding: 0.875rem 1.25rem;
				font-size: 1.2rem;
			}
			// list
			.list-group {
				width: 15rem;
			}

			@include md{
				margin-right: 0;
			}
		}
	}
	&.toggled #sidebar-wrapper {
		margin-right: -15rem;
		@include md{
			margin-right: -15rem;
		}
	}

	// overlay
	.menu-overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $black-color-70p;
		@include opacity-0;
		visibility: hidden;
		@include transition-05;
	}
	&:not(.toggled) .menu-overlay{
		@include opacity-100;
		visibility: visible;
	}
}



//////////////////////////////
// header
.navbar-container{
	position: fixed;
	top: 0;
	min-height: 110px;
	width: 100%;
	z-index: 10;
	background-color: white;
	-moz-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
	-webkit-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
	-o-box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);

	.navbar{
		padding: 20px;
		/*logo*/
		.header-logo{
			max-width: 70px;
		}
		/*toggle mobile*/
		.menu-toggle .fas{
			font-size: $icon-font-size;
		}
		/*web*/
		.nav-link{
			padding: 0.5rem 1rem;
		}
	}
}



//////////////////////////////
// slider
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

//////////////////////////////
// buttons
.btn-oval{
	padding: 8px 25px;
	@include corner-oval;
}

//////////////////////////////
// cards
.card-boxed{
	max-width: 300px;
}

//////////////////////////////
// list
// checklist
[class*="check-list"]{
	li{
		position: relative;
		padding-left: 40px;
		margin-bottom: 15px;
		&:before{
			content: "\f058";
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			@include icon-aw-font;
		}
		&:last-child{
			margin-bottom: 0px;
		}
	}
}
// list items
[class*="list-item"]{
	li{
		position: relative;
		padding-left: 40px;
		margin-bottom: 15px;
		&:before{
			content: "\f00c";
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			@include icon-aw-font;
		}
		&:last-child{
			margin-bottom: 0px;
		}
	}
}
// custom icon
[class*="custom-icon-list"]{
	li{
		position: relative;
		padding-left: 40px;
		margin-bottom: 15px;
		[class*="fa-"]{
			position: absolute;
			left: 0;
			top: 0;
			font-size: $icon-font-size;
		}
		&:before{
			content: none;
		}
		&:last-child{
			margin-bottom: 0px;
		}
	}
}

//////////////////////////////
// divider
[class*="split"]{
	width: 150px;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,0.15);
	@include corner-oval;
}