@import "color-theme.scss";
@import "variables.scss";
@import "mixin.scss";


//////////////////////////////
// fonts
// body
$body-font-size: 15px;
// titles - subtitles
$title-font-size: 40px;
$title-font-size-xs: 18px;
$title-font-size-sm: 30px;
$title-font-size-md: 60px;
$title-font-size-xl: 80px;
$subtitle-font-size: 20px;
// general
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 40px;
// buttons
$button-font-size: 18px;
// icons
$icon-font-size: 20px;
$icon-font-size-sm: 16px;
$icon-font-size-lg: 60px;

// family
$body-ff: 'Open Sans', sans-serif;
$titles-ff:' Tinos', serif;



//////////////////////////////
// breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}