@import "definitions.scss";

//////////////////////////////
// headline count
.headline-count-section .fas{
	font-size: $icon-font-size-lg;
	color: $primary-color;
}


// tabs
.tab-home-container{
	padding: 40px;
	background-color: $secondary-accent-color;
	color: white;
	@include corner-10;
	.tab-pane{
		font-size: $font-size-md;
	}
	.nav-pills{
		.nav-link{
			color: white;
			&.active{
				background-color: white;
				color: $secondary-accent-color;
			}
		}
		.show>.nav-link{
			background-color: white;
			color: $secondary-accent-color;
		}
	}
}

//////////////////////////////
// slide
.home-slide{
	.swiper-slide{
		padding: 40px;
		min-height: 600px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
		display: table;
		.box-content-container{
			display: table-cell;
			vertical-align: middle;
			.box-content-wrap{
				width: 100%;
				.box-content-slide{
					padding: 40px 20px;
					background-color: $bg-white-90;
					max-width: 500px;
					@include md{
						padding: 40px;
					}
					p{
						color: $dark-color;
					}
				}
			}
		}
	}
}

//////////////////////////////
// books
.books-carrousel{
	.swiper-slide{
		background-color: white;
		@include corner-10;
		.wrap-card{
			border-top: 2px solid $gray-color;
			padding: 20px;
			color: $dark-color;
			.headline-title-xs{
				font-family: $body-ff;
				color: $berry-color;
			}
		}
	}
}
.books-section{
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include bg-cover;
		background-position: center center;
		background-image: url('../images/stock-4.jpg');
		@include opacity-10;
	}
	.books-wrap{
		position: relative;
		z-index: 2;
	}
}

//////////////////////////////
// subscription
.subscription-section{
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include bg-cover;
		background-position: center center;
		background-attachment: fixed;
		background-image: url('../images/stock-1.jpg');
		@include opacity-20;
	}
	.books-wrap{
		position: relative;
		z-index: 2;
	}
}


//////////////////////////////
// list
.home-list{
	li{
		margin-bottom: 25px;
		&:last-child{
			margin-bottom:0;
		}
	}
}
.home-list-icons.custom-icon-list{
	li{
		padding: 0;
		span{
			display: inline-block;
			position: relative;
			padding: 10px 30px 10px 50px;
			@include corner-oval;
			background-color: $berry-light-color;
			[class*="fa-"]{
				left:	15px;
				top: 10px;
			}
		}
	}
}

// subscription-section
.subscription-section{
	.card{
		@include corner-10;
		overflow: hidden;
	}
}



//////////////////////////////
// subscription form
.subscription-form{
	padding: 20px;
	@include corner-10;
	@include md{
		padding: 40px;
	}
	input.form-control-lg{
		background-color: $berry-light-color;
	}
}

// steps
.subscription-steps{
	.nav-item{
		margin: 0px 10px;
		@include md{
			margin: 0px 20px;
		}
		&:last-child{
			.nav-link{
				&:after{
					content: none;
				}
			}
		}
		.nav-link{
			font-weight: bold;
			font-size: $title-font-size-xs;
			font-family: $titles-ff;
			padding: 0;
			text-align: center;
			line-height: 40px;
			height: 40px;
			width: 40px;
			border-width: 1px;
			border-style: solid;
			position: relative;
			@include circle;
			@include transition-03;
			border-color: white;
			background-color: transparent;
			color: white;
			&:before{
				@include scale-1;
			}
			> span{
				position: relative;
				z-index: 1;
			}
			&:after{
				content: "";
				position: absolute;
				height: 1px;
				top: 0;
				left: 100%;
				bottom: 0;
				margin: auto;
				background-color: white;
				width: 20px;
				@include md{
					width: 40px;
				}
			}
			&:before{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 40px;
				height: 40px;
				margin: auto;
				@include circle;
				@include transition-03;
				@include scale-0;
				background-color: white;
			}
			&.active{
				border-color: transparent;
				background-color: transparent;
				color: $berry-color;
				&:before{
					@include scale-1;
				}
			}
		}
		&.visited{
			.nav-link{
				border-color: transparent;
				background-color: transparent;
				color: $berry-color;
				&:before{
					@include scale-1;
				}
			}
		}
	}
}