@import "definitions.scss";

//////////////////////////////
// headline count
.headline-count-section .fas{
	font-size: $icon-font-size-lg;
	color: $primary-color;
}


// tabs
.tab-home-container{
	padding: 40px;
	background-color: $secondary-accent-color;
	color: white;
	@include corner-10;
	.tab-pane{
		font-size: $font-size-md;
	}
	.nav-pills{
		.nav-link{
			color: white;
			&.active{
				background-color: white;
				color: $secondary-accent-color;
			}
		}
		.show>.nav-link{
			background-color: white;
			color: $secondary-accent-color;
		}
	}
}


// slide
.home-slide{
	.swiper-slide{
		padding: 40px;
		min-height: 600px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
		display: table;
		.box-content-container{
			display: table-cell;
			vertical-align: middle;
			.box-content-wrap{
				width: 100%;
				.box-content-slide{
					padding: 40px 20px;
					background-color: $bg-white-90;
					max-width: 500px;
					@include md{
						padding: 40px;
					}
					p{
						color: $dark-color;
					}
				}
			}
		}
	}
}