@import "definitions.scss";


//////////////////////////////
// headline
.headline-title{
	font-size: $title-font-size;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: $titles-ff;
}
.headline-subtitle{
	font-size: $subtitle-font-size;
	margin-bottom: 20px;
	font-weight: 300;
}
.headline-title-xl{
	font-size: $title-font-size;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: $titles-ff;
	@include md{
		font-size: $title-font-size-md;
	}
}
.headline-title-sm{
	font-size: $title-font-size-sm;
	margin-bottom: 20px;
	font-weight: bold;
	font-family: $titles-ff;
}
.headline-title-xs{
	font-size: $title-font-size-xs;
	margin-bottom: 20px;
	font-weight: 600;
	font-family: $titles-ff;
}


//////////////////////////////
// items
.item-box{
	padding: 40px;
}


//////////////////////////////
// price on top
.price-sticky-head{
	padding: 20px 40px;
	background-color: white;
	z-index: 9;
	// title
	.headline-title{
		font-weight: bold;
		span{
			font-size: $subtitle-font-size;
		}
	}
	.btn{
		font-size: $font-size-xs;
	}
	@include lg{
		position: -webkit-sticky;
		position: sticky;
		top: 100px;
	}
}


//////////////////////////////
// textbody
p{
	a{
		text-decoration: underline;
	}
} 

// box lighter
.box-lighter{
	padding: 40px;
	background-color: $berry-light-color;
	border-radius: 30px;
}

// buttons
.btn,[class*="btn-"]{
	@include transition-03;
}