@import "definitions.scss";

//////////////////////////////
// fonts
// weight
.fw-light{
	font-weight: 300;
}
.fw-bold{
	font-weight: 700;
}
.fw-semibold{
	font-weight: 600;
}
.fw-black{
	font-weight: 900;
}

//////////////////////////////
// max-width
.mx-w-200{
	max-width: 200px;
}
.mx-w-400{
	max-width: 400px;
}
.mx-w-500{
	max-width: 500px;
}
.mx-w-600{
	max-width: 600px;
}
.mx-w-800{
	max-width: 800px;
}
//////////////////////////////
// min-width
@include md{
	.min-w-md-700{
		min-width: 700px;
	}
}
@include md{
	.min-w-md-600{
		min-width: 600px;
	}
}
//////////////////////////////
// height
.h-200{
	height: 300px;
}


// float
.f-md-right{
	float: right;
}


//////////////////////////////
$name-color: (
	primary: $primary-color,
	secondary: $secondary-color,
	secondary-accent:$secondary-accent-color,
	berry: $berry-color,
	concord: $concord-color,
	orange: $orange-color,
);
	
@each $name, $value in $name-color {
	// color
	.color-#{$name}{
		color: $value;
	}

	// background
	.bg-#{$name}{
		background-color: $value;
	}
}